header{
    background-color: blueviolet;
}
a{
    text-decoration: none;
    color: white;
    padding: 2px;
    margin: 2px;
}
header h1{
    text-align: center;
    font-size: 35px;
}
header a{
    background-color: grey;
    border: 2px solid rgb(42, 153, 75);
    border-top-left-radius: 7px;
    color: blue;
}
footer{
    background-color: rgb(29, 15, 15);
    color:green;
}
.my_person{
    color: black;
}
main{
    background-color: brown;
    color: darkblue;
}
main h1{
    color: blueviolet;
}
footer h1{
    color: blueviolet;
}
p{
    font-size: 20px;
}
